<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
    <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>

<body>
    <div class="sticky">
        <h1 style="text-align: center;">Craftizen</h1>
    </div>
    <div class="nav">
        <p><a href="/">Home</a> > <a href="/sell/">Sell</a> > <a href="">Add New Products</a></p>
    </div>
    <h2>Add Product:</h2>
    <form action="" method="POST">
        <table>
            <tr>
                <td>NAME: </td>
                <td><input type="text" name="name" required></td>
            </tr>
            <tr>
                <td>QUANTITY: </td>
                <td><input type="number" name="qty" min="0" required></td>
            </tr>
            <tr>
                <td>CATEGORY: </td>
                <td><select name="category" required>
          <option value="" disabled selected>SELECT CATEGORY</option>
          <option value="Stationary">Stationary</option>
          <option value="Fashion">Fashion</option>
          <option value="Wall hangings">Wall hangings</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Kitchen Utilities">Kitchen Utilities</option>
          <option value="Purses and Wallets">Purses and Wallets</option>
          <option value="Decor">Decor</option>
          <option value="Toys">Toys</option>
        </select></td>
            </tr>
            <tr>
                <td>PRICE(in ₹): </td>
                <td><input type="number" name="price" min="0" required></td>
            </tr>
            <tr>
                <td>DESCRIPTION: </td>
                <td><textarea name="desp"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="Add Product" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
    </form>
</body>

</html>