<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
    <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>

<body>
    <div class="sticky">
        <h1 style="text-align: center;">Craftizen</h1>
    </div>
    <div class="nav">
        <p><a href="/">Home</a> > <a href="/sell">Sell</a> > <a href="/viewproduct/">View Product</a> > <a href="/viewproduct/{{prodID}}">{{name}}</a> > <a href="">Edit</a></p>
    </div>
    <h2>Edit Product</h2>
    <form action="" method="POST">
        <table>
            <tr>
                <td>NAME :</td>
                <td><input type="text" name="name" value="{{name}}" required></td>
            </tr>
            <tr>
                <td>QUANTITY :</td>
                <td><input type="number" name="qty" value="{{qty}}" min="0" required></td>
            </tr>
            <tr>
                <td>CATEGORY :</td>
                <td><select name="category" required>
          <option value="Stationary" {% if category=="Stationary" %}selected{% endif %}>Stationary</option>
          <option value="Fashion" {% if category=="Fashion" %}selected{% endif %}>Fashion</option>
          <option value="Wall hangings" {% if category=="Wall hangings" %}selected{% endif %}>Wall hangings</option>
          <option value="Entertainment" {% if category=="Entertainment" %}selected{% endif %}>Entertainment</option>
          <option value="Decor" {% if category=="Decor" %}selected{% endif %}>Decor</option>
          <option value="Kitchen Utilities" {% if category=="Kitchen Utilities" %}selected{% endif %}>Kitchen Utilities</option>
          <option value="Purses and Wallets" {% if category=="Purses and Wallets" %}selected{% endif %}>Purses and Wallets</option>
          <option value="Toys" {% if category=="Toys" %}selected{% endif %}>Toys</option>
        </select></td>
            </tr>
            <tr>
                <td>PRICE :</td>
                <td><input type="number" name="price" value="{{price}}" min="0" required></td>
            </tr>
            <tr>
                <td>DESCRIPTION :</td>
                <td><textarea name="desp">{{desp}}</textarea></td>
            </tr>
        </table>
        <input type="submit" value="Apply Changes" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
    </form>
</body>

</html>